.name {
  height:90%;
  width:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.social {
  margin-top: 3.5em;
  height:90%;
  width:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: -apple-system-font, HelveticaNeue, Helvetica, sans-serif;
  font-family: HelveticaNeue;
  font-weight: normal;
  font-size: 1.75em;
  color: #3a3a3a;
  -webkit-text-size-adjust: none;
}

.name, .social {
  -webkit-animation: alpha0 1.05s, slideAndFadeIn .35s 1.05s;
  animation: alpha0 1.05s, slideAndFadeIn .35s 1.05s;
}
