/*-- begin centering: centering name and social icons to the middle of the screen */

.name {
  height:88%;
  width:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.social {
  margin-top: 3.8em;
  height:88%;
  width:99%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/*-- end centering */

.name {
  font-family: -apple-system-font, HelveticaNeue, Helvetica, sans-serif;
  font-family: HelveticaNeue;
  font-weight: normal;
  font-size: 2.2em;
  color: #3a3a3a;
  -webkit-text-size-adjust: none;
}

/*-- fade in animation */

.name, .social {
  -webkit-animation: alpha0 1.05s, slideAndFadeIn .35s 1.05s;
  animation: alpha0 1.05s, slideAndFadeIn .35s 1.05s;
}
